.section-blog {
  margin-top: 150px;

  .text-view {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #7a84ff;

    &:hover {
      color: #000;
    }
  }

  .blog-item {
    box-shadow: 0 24px 48px -13px #0000000d;
    border-radius: 10px;

    .blog-thumbnail {
      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .blog-content {
      padding-top: 25px;
      text-align: center;

      .title {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: #7a84ff;
        }
      }

      .meta {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;

        span {
          margin-right: 10px;
        }

        a {
          color: #7a84ff;
          text-decoration: none;
        }
      }
    }
  }
}
